* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* border: none; */
  outline: none;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, sans-serif;
}
:root {
  --bg-color: #000;
  --snd-bg-color: #111;
  --text-color: #fff;
  --main-color: rgb(230, 83, 60);
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
/* section {
  min-height: 10vh;
  padding: 10rem 8% 2rem;
} */
/* Header section start from here */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
  backdrop-filter: blur(10px);
  transition: all 0.5s ease;
}
.logo {
  font-size: 3rem;
  color: var(--main-color);
  font-weight: bold;
  cursor: pointer;
}
.navbar {
  display: flex;
  border: 0.1px solid #a59f9fe1;
  border-radius: 20px;
  padding: 8px;
}
.navbar a {
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 4rem;
  color: var(--text-color);
}

/* top banner/ home section styles */
.home_banner {
  min-height: 10vh;
  /* padding: 10rem 8% 2rem; */
  padding-top: 10rem;
  padding-left: 10rem;
  padding-right: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}

.home_content h2 {
  font-size: 5rem;
  font-weight: 700;
}
.home_content span {
  font-size: 5rem;
  font-family: "Grey Qo", cursive;
  font-weight: 700;
}
.top_img img {
  width: 100%;
}
.home_banner p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.home_btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  background: var(--main-color);
  border-radius: 1.5rem;
  color: #fff;
}
.home_btn_top {
  background: var(--main-color);
  border-radius: 10px;
  padding: 8px;
}
.home_btn2 {
  padding: 1rem 2.5rem;
  margin-left: 10px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1.5rem;
  color: #fff;
}
.box_container {
  display: flex;
}
.box1_top {
  position: absolute;
  bottom: 45rem;
  right: 10rem;
  width: 190px;
  height: 96px;
  border-radius: 25px;
  margin-bottom: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
}
.box_content1 {
  font-size: 35px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 1px;
  text-align: center;
}
.top_content {
  color: rgba(255, 255, 255, 0.65);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
}
.bottom_box {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  width: 190px;
  height: 96px;
  margin-top: 25rem;
  right: 30rem;
}
.bottom_box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bottom_cont h2 {
  font-size: 35px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 1px;
  text-align: center;
}
.bottom_cont small {
  color: rgba(255, 255, 255, 0.65);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
}
.red_dot {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: var(--main-color);
}
/* change your habit styles here */

.habit_container h2 {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  font-weight: 800;
}
.habit_container .title_text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
}
.habit_holder {
  margin-top: 30px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.images {
  border-radius: 50px;
}
.habit_items {
  margin-top: 25px;
}
.habit_holder {
  text-align: center;
}
.habit_holder h3 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
}
.habit_holder p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
}
.habit_items > img {
  border: 5px solid gray;
  margin: 0 20px;
  width: 272px;
  border-radius: 50%;
}
/* habit section end here */

/* run an extra mile style start from here */
.run_img img {
  width: 366px;
  height: 312px;
  padding: 20px;
  border-radius: 30px;
}
.run_container {
  margin-top: 90px;
  margin-left: 12%;
  width: 75%;
  height: 310px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
}
.run_contents {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.run_content {
  margin-left: 50px;
}
.run_container h2 {
  font-size: 46px;
  margin-bottom: 20px;
}
.run_container p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}
.join_btn {
  display: inline-block;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  color: #fff;
  width: 224px;
  height: 54px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}
/* habit section end here */

/* training style start from here */
.training_container {
  margin-top: 150px;
}

.grid_img {
  display: grid;
  grid-template-columns: 330px 520px 330px;
  align-items: center;
  justify-content: center;
}
.grid_img img {
  background-attachment: fixed;
  width: 100%;
}
.training_text {
  text-align: center;
}
.training_text h2 {
  font-size: 45px;
}
.training_text p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.item {
  height: auto;
  position: relative;
  width: 100%;
}
.item img {
  width: 100%;
  display: block;
}
.movement h3 {
  position: absolute;
  bottom: 20px;
  font-size: 25px;
}
/* exercise styles end here */
/* bmi calculator styles start from here */

.bmi_container {
  margin-top: 80px;
  width: 100%;
  height: 350px;
  background: rgb(34, 34, 34);
}
.bmi_items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 80px;
}
.input_fields {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.bmi_calc_form {
  width: 35%;
  height: 200px;
}
input {
  width: 100%;
  height: 35px;
  outline: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: none;
}
#gender {
  width: 100%;
  height: 35px;
  margin-top: 5px;
  outline: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: none;
}
.btn_calc {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10;
  color: #fff;
  font-weight: 800;
  font-size: 18px;
  padding: 14px 35px 14px 35px;
  border-radius: 42px;
  border: none;
  background: rgb(230, 83, 60);
}
.table_calc h2 {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bmi_calc_form h2 {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bmi_calc_form p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}
/* bmi calculator end here */
/* meet our team start here */

.team_section {
  width: 1080px;
  height: 620px;
  border-radius: 10px;
  margin: 100px auto;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.team_container img {
  width: 326.67px;
  height: 272px;
  border-radius: 18px;
  margin: 10px;
}
.text_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.1);
}
.text_overlay p {
  margin: 10px;
}
.text_overlay h2 {
  margin-top: 20px;
  margin-left: 10px;
}
.team_title h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  margin-top: 40px;
}
.team_title p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
}
/* Extra unique styles here */
.card-container {
  width: 80%;
  height: 350px;
  margin: auto;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
}
.cards_holder {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.card {
  background-color: #7c7a7a;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin-top: 22px;
  text-align: center;
}

.card h2 {
  color: rgb(58, 206, 206);
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.card p {
  color: #777;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.card p {
  color: antiquewhite;
}
li {
  color: antiquewhite;
}

.card ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 15px;
}
.card_section h2 {
  font-size: 25px;
  text-align: center;
  font-weight: 800;
  margin-top: 25px;
}
.card_section p {
  font-size: 18px;
  color: antiquewhite;
  text-align: center;
  margin: 20px;
  text-wrap: wrap;
}
.card ul li {
  color: antiquewhite;
  font-size: 1.5rem;
  margin-bottom: 5px;
}
/* footer styles start here */
footer {
  width: 97%;
  height: 320px;
  margin-top: 88px;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  margin-left: 40px;
  align-items: center;
  flex-wrap: wrap;
}
hr {
  width: 75%;
  margin-top: 25px;
  margin: 0 auto;
  border-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 5px;
}
.footer-column {
  width: 30%;
  margin: 10px 0;
}
.footer-column h3 {
  font-size: 20px;
  margin-left: 10px;
}
.logo2 {
  font-size: 40px;
  margin-bottom: 25px;
  color: var(--main-color);
  font-weight: 800;
  cursor: pointer;
}
.footer-column p,
.footer-column ul {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #777;
  list-style: none;
}
.footer-column ul li {
  margin-bottom: 5px;
  margin: 10px;
  font-size: 15px;
  color: #777;
}

.footer-bottom {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
/* footer section end here */

/* media quarry for mobile devices */
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }
  .home_banner {
    min-height: 10vh;
    /* padding: 10rem 8% 2rem; */
    padding-top: 10rem;
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgb(17, 17, 17),
      rgba(119, 119, 119, 0) 100%
    );
  }
  header {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: linear-gradient(
      180deg,
      rgb(17, 17, 17),
      rgba(119, 119, 119, 0) 100%
    );
    backdrop-filter: blur(10px);
  }
  .home_content h2 {
    font-size: 3rem;
    margin-top: 20px;
    font-weight: 700;
  }
  /* habit section */
  .habit_holder {
    margin-top: 30px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  /* run an extra mile */
  .run_img img {
    width: 100%;
    height: 312px;
    padding: 20px;
    border-radius: 30px;
  }
  .run_contents {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
  }

  .run_contents {
    width: 100%;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .grid_img {
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }
  .bmi_items {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    align-items: center;
    margin-top: 80px;
  }
  .input_fields {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .team_section {
    width: 100%;
    height: 620px;
    border-radius: 10px;
    margin: 100px auto;
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .bmi_container {
    display: none;
  }
  .card_section {
    display: none;
  }
  footer {
    position: absolute;
    top: 1;
    width: 100%;
    height: 100%;
    margin-top: 88px;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    align-items: center;
    flex-wrap: wrap;
  }
  .team_section {
    width: 100%;
    height: 620px;
    border-radius: 10px;
    margin: 100px auto;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
